  <h5 class="text-edit"> <%= current_user.email %> Personnalise ta revue de presse</h5>
<div class="content">
  <%= simple_form_for (@user) do |f| %>
    <%# --------Category-------- %>
    <p>Category</p>
    <%= f.association :user_categories, as: :check_boxes, collection: ['Economie', 'Sport', 'Politique'], checked: @user.user_categories.map {|uc| uc.category}, input_html: {class: "tag-selector"}, item_wrapper_class: 'tag-item' %>

    <%# ---------Media_type--------- %>
    <p>Media</p>
    <%= f.association :user_media_types , as: :check_boxes, collection: ['Articles', 'Podcasts', 'Video'], input_html: {class: "tag-selector"}, item_wrapper_class: 'tag-item'%>

    <%# ---------------Time available------------- %>
    <p>Temps dispo:</p>
    <%= f.input :available_time, collection: 5..30 %>

  <%# as: :range, :min =>11, :max => 30 %>
    <%# ----------Submit-------------- %>
    <%= f.submit :submit %>

  <% end %>

</div>
