  <div class="container">
  <div class="text-edit">
    <h1>Hey <%= current_user.username.capitalize %></h1>
    <h5> Ici tu peux personnaliser ta revue de presse en fonction de tes envies et de ton temps disponibles</h5>
  </div>

<div class="content">
  <%= simple_form_for (@user) do |f| %>
    <%# --------Category-------- %>
    <p>Category</p>
    <div id="ligne_milieu_2"></div>
    <%= f.association :user_categories, as: :check_boxes, collection: Medium::CATEGORIES, checked: @user.user_categories.map {|uc| uc.category}, input_html: {class: "tag-selector"}, item_wrapper_class: 'tag-item' %>
    <%# ---------Media_type--------- %>
    <%= f.association :user_media_types , label: "Choisissez quels types de média :", as: :check_boxes, collection: ['Articles', 'Podcasts', 'Video'], checked: @user.user_media_types.map {|uc| uc.media_types}, input_html: {class: "tag-selector"}, item_wrapper_class: 'tag-item'%>
    <%# ---------------Time available------------- %>
    <%= f.input :available_time, label: "Quel est votre temps disponible ?", collection: 10..40 %>
    <%# ----------Submit-------------- %>
    <%= f.submit 'Créer ma NewsBoard', class: 'btn btn-primary' %>
  <% end %>

  </div>
</div>
