<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="<%=root_path%>"><%= image_tag("logo-hibou.png", class:"navbar-brand", width: "175", height: "60") %></a>
  <% if user_signed_in? %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ">
        <li class="nav-item" id="1">
          <% if !current_user.dashboards.empty? %>
          <%= link_to "Ma Newsboard", user_dashboards_path(current_user) %>
          <% else %>
          <%= link_to "Créer ma Newsboard", edit_user_path(current_user) %>
          <% end %>

        </li>
        <li class="nav-item" id="2">
          <% if !current_user.dashboards.empty? %>
          <%= link_to "Modifier ma Newsboard", edit_user_path(current_user) %>
        </li>
        <li class="nav-item" id="4">
          <%= link_to "Voir ma sélection", user_favoris_path(current_user) %>
            <% end %>
        </li>
        <li class="nav-item btn-logout" id="3">
          <%= link_to "Se deconnecter", destroy_user_session_path, method: 'delete'%>
        </li>
      </ul>
    </div>
  <% else %>
    <div class="user_sign_in">
      <%= link_to "Se connecter",new_user_session_path, class: "danger" %>
    </div>
  <% end %>
</nav>
