<div class="first-text">
  <h4> Lire l'info différement</h4>
  <%= link_to 'creer un article', articles_path, method: :post %>
  <h6> Vos News revisitées</h6>
</div>


<%# -----------Carousel------------- %>

<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <!--First slide-->
    <div class="carousel-item active">
      <div class="card-container-home">
            <div class="card-product">
              <img src="https://source.unsplash.com/daily?news" />
                <div class="card-product-infos">
                  <div class="card-product-title">
                    <h2><%= "Coronavirus : le Parlement autorise le recours au pass sanitaire jusqu'au 31 juillet 2022" %></h2>
                  </div>
                  <div class="card-product-content">
                    <p><%="Le recours au pass sanitaire est désormais autorisé jusqu'au 31 juillet 2022, suite au vote par l'Assemblée.." %></p>
                  </div>
                  <footer class="blockquote-footer"><cite title="Source Title"><%= "Le Monde"%></cite></footer>
                  <div class="card-product-bouton"><button type="button" class="btn btn-outline-success">Je découvre</button></div>
                </div>
            </div>
        </div>
    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <div class="carousel-item">
      <div class="card-container-home">
        <div class="card-product">
                <img src="https://source.unsplash.com/daily?news" />
                  <div class="card-product-infos">
                    <div class="card-product-title">
                      <h2><%= "Coronavirus : le Parlement autorise le recours au pass sanitaire jusqu'au 31 juillet 2022" %></h2>
                    </div>
                    <div class="card-product-content">
                      <p><%="Le recours au pass sanitaire est désormais autorisé jusqu'au 31 juillet 2022, suite au vote par l'Assemblée.." %></p>
                    </div>
                    <footer class="blockquote-footer"><cite title="Source Title"><%= "Le Monde"%></cite></footer>
                    <div class="card-product-bouton"><button type="button" class="btn btn-outline-success">Je découvre</button></div>
                  </div>
              </div>
          </div>
    </div>
    <!--/.Second slide-->
  </div>
  <!--/.Slides-->
</div>
<!--/.Carousel Wrapper-->

<%# -------------Content---------- %>
</div>
<div class="btn-sign_up">
  <%= link_to "S'inscrire", new_user_registration_path ,class:'btn btn-dark'%>
</div>

<div class="text-content">
  <p>Newsboard est le nouveau média qui rassemble toutes vos news au meme endroit.
   Choisissez en un clic vos topics préférés, votre temps de lecture journalier.
    On s’occupe du reste</p>
</div>
