<div style="height:76px;"></div>

<div class="first-text">
  <h1 class="first-text"> L'info, différement</h1>
  <div id="ligne_milieu"></div>
</div>


<%# -----------Carousel------------- %>

<!--Carousel Wrapper-->
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <!--First slide-->
        <div class="carousel-item active">
          <h6 class="slide-text"> Vos préférences </h6>
            <div class="card-container-home">
              <div class="col-md-3" style="float:left">
                  <div class="card mb-2">
                    <img class="card-img-top" src="<%= Article.where(category: "news").last.image%>" alt="Card image cap">
                      <div class="card-body">
                          <p class="text-center category"> #<%= Article.where(category: "news").last.category.upcase %></p>
                          <h4 class="card-title"><%= Article.where(category: "news").last.title %></h4>
                          <p class="card-text"><%= truncate(Article.where(category: "news").last.content, :length => 90, :omission => '...')%></p>
                      </div>
                  </div>
                </div>
            </div>
        </div>
      <!--/.First slide-->

      <!--Second slide-->
        <div class="carousel-item">
          <h6 class="slide-text"> Des infos </h6>
            <div class="card-container-home">
                <div class="col-md-3" style="float:left">
                  <div class="card mb-2">
                    <img class="card-img-top" src="<%= Article.where(category: "sport").last.image%>" alt="Card image cap">
                      <div class="card-body">
                        <p class="text-center category"> #<%= Article.where(category: "sport").last.category.upcase %></p>
                        <h4 class="card-title"><%= Article.where(category: "sport").last.title %></h4>
                        <p class="card-text"><%= truncate(Article.where(category: "sport").last.content, :length => 90, :omission => '...')%></p>
                      </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
          <h6 class="slide-text"> Une Newsboard</h6>
            <div class="card-container-home">
                <div class="col-md-3" style="float:left">
                  <div class="card mb-2">
                    <img class="card-img-top" src="<%= Article.where(category: "politics").last.image%>" alt="Card image cap">
                      <div class="card-body">
                        <p class="text-center category"> #<%= Article.where(category: "politics").last.category.upcase %></p>
                        <h4 class="card-title"><%= Article.where(category: "politics").last.title %></h4>
                        <p class="card-text"><%= truncate(Article.where(category: "politics").last.content, :length => 90, :omission => '...')%></p>
                      </div>
                  </div>
                </div>
            </div>
        </div>
      <!--/.Second slide-->
    </div>
    <!--/.Slides-->
  </div>
<!--/.Carousel Wrapper-->

<%# -------------Content---------- %>
<div class="btn_home">
<% if user_signed_in? %>
  <div class="btn-sign_up">
    <% if !current_user.dashboards.empty? %>
  <%= link_to "Mes Newsboard", user_dashboards_path(current_user), class:'btn btn-dark mt-4'%>
    <% else %>
  <%= link_to "Créer ma Newsboard", edit_user_path(current_user), class:'btn btn-dark mt-4'%>
    <% end %>
</div>
<% else %>
  <div class="btn-sign_up">
    <%= link_to "S'inscrire", new_user_registration_path , class:'btn btn-dark mt-4'%>
</div>
</div>
<% end %>
</div>
<%= render 'intro' %>
<%= render 'comments' %>
<div class="end-container"></div>
