
<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
  <!--Controls-->
  <div class="controls-top">
    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
    <p>DATE</p>
    <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-right"></i></a>
  </div>
  <!--/.Controls-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <!--First slide-->
    <div class="carousel-item active" data-interval="30000">
      <% @first_dashboard = @user.dashboards.order(:created_at).last%>
      <% @y = @user.dashboards.last.articles %>
      <p class="text-center date"><%= @first_dashboard.created_at.to_date %></p>
      <% @y.each do |article| %>
<<<<<<< HEAD
        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="<%= article.image%>" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"><%= article.title %></h4>
              <p class="card-text"><%= article.content %></p>
              <a class="btn btn-primary" href="<%= article.url %>">Button</a>
              <%= simple_form_for(@favori) do |f| %>
                <%= f.hidden_field :medium_id, value: article.media.first.id %>
                <%= f.submit class: "btn btn-secondary" %>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
        <% @podcasts = @user.dashboards.last.podcasts %>
        <% @podcasts.each do |podcast|%>
          <div class="col-md-3" style="float:left">
            <div class="card mb-2">
              <img class="card-player-img-top" src="<%= podcast.image %>" alt="Card image cap" width="200px">
              <div class="card-body-player">
                <p><strong><%= podcast.title %></strong></p>
                <audio controls>
                  <source src="<%= podcast.audio %>" type="audio/mp3">
                </audio>
              </div>
            </div>
          </div>
        <% end %>
    </div>
    <!--/.First slide-->
    <!--Second slide-->
    <% @u = @user.dashboards.order(:created_at).last(7) %>
    <% @y = @u.clone %>
    <% @y.pop %>
    <% @y.each do |old_dashboard| %>
      <div class="carousel-item" data-interval="300000">
      <p class="text-center date"><%= old_dashboard.created_at.to_date %></p>
      <% @old = old_dashboard.articles %>
        <% @old.each do |article| %>
          <div class="col-md-3" style="float:left">
            <div class="card mb-2">
              <p class="text-center"> Categorie :<%= article.category.capitalize %></p>
              <img class="card-img-top" src="<%= article.image %>" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title"><%= article.title %></h4>
                <p class="card-text"><%= article.content %></p>
<<<<<<< HEAD
                <a class="btn btn-primary" href="<%=article.url %>">Button</a>

=======
                <cite class="source">Source: <%= article.source %> </cite>
                <a class="btn btn-primary" href="<%=article.url %>">Voir l'article</a>
>>>>>>> master
              </div>
            </div>
          </div>
        <% end %>
        <% @old_podcasts = old_dashboard.podcasts %>
        <% @old_podcasts.each do |old_podcast| %>
        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-player-img-top text-center" src="<%= old_podcast.image %>" alt="Card image cap" width="200px">
            <div class="card-body-player">
              <p><strong><%= old_podcast.title %></strong></p>
              <audio controls>
                <source src="<%= old_podcast.audio %>" type="audio/mp3">
                <p>Votre navigateur ne prend pas en charge l'audio HTML5. Voici un <a href="<%= old_podcast.url %>" >lien vers le fichier audio</a> à la place.</p>
              </audio>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
    <!--/.Second slide-->
  </div>
  <!--/.Slides-->
</div>
<!--/.Carousel Wrapper-->
