<div style="height:76px;"></div>

<div class="btn-to-top">
  <a href="#"><i class="fas fa-arrow-up icone"></i></a>
</div>


      <% last_dashboard = @dashboards.last%>
      <% selected_media = @user.user_media_types.map {|umt| umt.media_types} %>

<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

  <!--Controls-->
  <div class="controls-top">
    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
    <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-right"></i></a>
  </div>
  <!--/.Controls-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
      <%# -------------ARTICLES DU JOUR---------------- %>
    <div class="carousel-item active" data-interval="3000000">
      <p class="text-center date"> <%= last_dashboard.date.strftime("%d/%m/%Y") %> </p>
      <% if selected_media.include?"Articles" %>
          <p class="text-center media_title animate__animated animate__fadeIn">ARTICLES</p>
      <% end %>

      <% last_article = last_dashboard.articles %>
      <% last_article.each do |article| %>
        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="<%= article.image%>" alt="Card image cap">
            <div class="card-body">
              <p class="text-center category"># <%= article.category.upcase %></p>
              <h4 class="card-title"><%= article.title %></h4>
              <p class="card-text"><%= truncate("#{article.content}", :length => 90, :omission => '...') %></p>
              <p>Source: <cite><%= article.source %></cite></p>
              <div class="card-btn">
                <a class="btn-view" href="<%= article.url %>">Lire l'article</a>
                <%= simple_form_for([@user, @favori], remote: true) do |f| %>
                  <%= f.hidden_field :medium_id, value: article.media.first.id %>
                  <%= button_tag id:'create-fav' do %>Lire plus tard<i class="fas fa-clock"></i> <% end %>
                <% end %> <%# END DU SIMPLE FORM BTN FAVORI %>
              </div>
            </div>
          </div>
        </div>
      <% end %> <%# END DE L'ITERATION SUR LE DERNIER ARTICLE %>

      <% if selected_media.include?"Podcasts" %>
        <p class="text-center media_title animate__animated animate__fadeIn">PODCAST</p>
      <% end %>

      <%# ----------PODCAST DU JOUR----------------- %>
      <% last_podcasts = last_dashboard.podcasts %>
      <% last_podcasts.each do |podcast|%>
        <div class="col-md-3" style="float:left">
          <div class="card-product mb-2">
            <img src="<%= podcast.image%>" alt="Card image cap">
            <div class="card-product-infos">
              <h2> <%= podcast.title %> </h2>
              <audio controls>
                <source src="<%= podcast.audio %>" type="audio/mp3">
                <p>Votre navigateur ne prend pas en charge l'audio HTML5. Voici un <a href="#" >lien vers le fichier audio</a> à la place.</p>
              </audio>
              <%= simple_form_for([@user, @favori], remote: true) do |f| %>
                <%= f.hidden_field :medium_id, value: podcast.media.first.id %>
                <%= button_tag do %>Ecouter plus tard<i class="fas fa-clock"></i> <% end %>
              <% end %> <%# END DU SIMPLE FORM BTN FAVORI %>
            </div>
          </div>
        </div>
      <% end %> <%# END DE L4ITERATION SUR LE DERNIER PODCAST %>

      <%# -----------VIDEO DU JOUR------------------ %>
      <% if selected_media.include?"Video" %>
        <p class="text-center media_title ">VIDEO</p>
      <% end %>

      <% last_videos = last_dashboard.videos %>
      <% last_videos.each do |video|%>
        <iframe width="357" height="300" class="video-iframe" src="<%=video.url%>" title="<%= video.title %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="video-container">
          <%= simple_form_for([@user, @favori], remote: true) do |f| %>
            <%= f.hidden_field :medium_id, value: video.media.first.id %>
            <%= button_tag do %>Regarder plus tard<i class="fas fa-clock"></i> <% end %>
          <% end %><%# END DU SIMPLE FORM BTN FAVORI %>
        </div>
      <% end %> <%# END DE L4ITERATION SUR LA DERNIERE VIDEO %>
    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <% six_last_dashboards = @dashboards.last(7) %>
    <% last_dashboards = six_last_dashboards.clone %>
    <% last_dashboards.pop %> <%# 7 derniers dashboards - le dernier %>
    <% last_dashboards.each do |old_dashboard| %>
      <div class="carousel-item" data-interval="3000000">
        <p class="text-center date"> <%= old_dashboard.date.strftime("%d/%m/%Y") %> </p>

        <%# ---------------ARTICLES ANCIEN DASHBOARDS---------------------- %>
        <% unless old_dashboard.articles.blank? %>
          <p class="text-center media_title ">ARTICLES</p>
        <% end %>

        <% old = old_dashboard.articles %>
        <% old.each do |article| %>
          <div class="col-md-3" style="float:left">
            <div class="card mb-2">
              <img class="card-img-top" src="<%= article.image %>" alt="Card image cap">
              <div class="card-body">
                <p class="text-center category"> #<%= article.category.upcase %></p>
                <h4 class="card-title"><%= article.title %></h4>
                <p class="card-text"><%=truncate("#{article.content}", :length => 90, :omission => '...') %></p>
                <p>Source: <cite><%= article.source %></cite></p>
                <div class="card-btn">
                  <a class="btn-view" href="<%=article.url %>">Voir l'article</a>
                  <%= simple_form_for([@user, @favori], remote: true) do |f| %>
                    <%= f.hidden_field :medium_id, value: article.media.first.id %>
                    <%= button_tag  do %>Lire plus tard<i class="fas fa-clock"></i> <% end %>
                  <% end %><%# END DU SIMPLE FORM BTN FAVORI %>
                </div>
              </div>
            </div>
          </div>
        <% end %> <%# END DE L4ITERATION SUR LES DERNIERS ARTICLES DES AUTRES DASHBOARD%>


        <%# ---------PODCAST ANCIEN DASHBOARD---------------- %>
        <% unless old_dashboard.podcasts.blank? %>
          <p class="text-center media_title ">PODCAST</p>
        <% end %>

        <% old_podcasts = old_dashboard.podcasts %>
        <% old_podcasts.each do |old_podcast| %>
          <div class="col-md-3" style="float:left">
            <div class="card-product mb-2">
              <img src="<%= old_podcast.image %>" />
              <div class="card-product-infos">
                <h2><%= old_podcast.title %></h2>
                <audio controls>
                  <source src="<%= old_podcast.audio %>" type="audio/mp3">
                  <p>Votre navigateur ne prend pas en charge l'audio HTML5. Voici un <a href="<%= old_podcast.url%>" >lien vers le fichier audio</a> à la place.</p>
                </audio>
                <%= simple_form_for([@user, @favori], remote: true) do |f| %>
                  <%= f.hidden_field :medium_id, value: old_podcast.media.first.id %>
                  <%= button_tag  do %>Ecouter plus tard<i class="fas fa-clock"></i> <% end %>
                <% end %><%# END DU SIMPLE FORM BTN FAVORI %>
              </div>
            </div>
          </div>
        <% end %> <%# END DE L4ITERATION SUR LES DERNIERS PODCAST DES AUTRES DASHBOARD%>


        <%# --------------VIDEO ANCIEN DASHBOAD---------------- %>
        <% unless old_dashboard.videos.blank? %>
          <p class="text-center media_title ">VIDEO</p>
        <% end %>

        <% old_videos = old_dashboard.videos %>
        <% old_videos.each do |video|%>
          <iframe width="357" height="300" class="video-iframe" src="<%=video.url%>" title="<%= video.title %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="video-container">
            <%= simple_form_for([@user, @favori], remote: true) do |f| %>
              <%= f.hidden_field :medium_id, value: video.media.first.id %>
              <%= button_tag  do %>Regarder plus tard<i class="fas fa-clock"></i> <% end %>
            <% end %><%# END DU SIMPLE FORM BTN FAVORI %>
          </div>
        <% end %> <%# END DE L4ITERATION SUR LES VIDEOS DES AUTRES DASHBOARDS %>
      </div>
    <% end %> <%# END DE L4ITERATION SUR LES ANCIENS DASHBOARDS  %>
  </div>
    <!--/.Slides-->
</div>
<!--/.Carousel Wrapper-->
