
<div class="btn-to-top">
  <a href="#"><i class="fas fa-arrow-up icone"></i></a>
</div>

<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
  <!--Controls-->
  <div class="controls-top">
    <a class="btn-floating btn-controls" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
    <p class="date">DATE</p>
    <a class="btn-floating btn-controls" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-right"></i></a>
  </div>
  <!--/.Controls-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <!--First slide-->
    <div class="carousel-item active" data-interval="30000">
      <% last_dashboard = @dashboards.last%>
      <% last_article = last_dashboard.articles %>
      <p class="text-center date"><%= last_dashboard.date %></p>
      <h2>Articles</h2>
      <% last_article.each do |article| %>
        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="<%= article.image%>" alt="Card image cap">
            <div class="card-body">
              <p class="text-center category"> #<%= article.category.upcase %></p>
              <h4 class="card-title"><%= article.title %></h4>
              <p class="card-text"><%= truncate("#{article.content}", :length => 90, :omission => '... (continued)') %></p>
              <p>Source: <cite><%= article.source %></cite></p>
              <div class="card-btn">
                <a class="btn-view" href="<%= article.url %>">Voir l'article</a>
                <%= simple_form_for([@user, @favori], remote: true) do |f| %>
                  <%= f.hidden_field :medium_id, value: article.media.first.id %>
                  <%= f.submit "Ajouter aux favoris", class: "btn-favori"%>
                <% end %>
              </div>
            </div>
          </div>
        </div>

      <% end %>



      <% podcasts = last_dashboard.podcasts %>
      <% podcasts.each do |podcast|%>
      <h2>Podcast</h2>
      <div class="col-md-3" style="float:left">
        <div class="card-product mb-2">
          <img src="<%= podcast.image %>"/>
          <div class="card-product-infos">
            <h2><%= podcast.title %></h2>
            <audio controls>
              <source src="<%= podcast.audio %>" type="audio/mp3">
              <p>Votre navigateur ne prend pas en charge l'audio HTML5. Voici un <a href="#" >lien vers le fichier audio</a> à la place.</p>
            </audio>
            <%= simple_form_for([@user, @favori], remote: true) do |f| %>
                  <%= f.hidden_field :medium_id, value: podcast.media.first.id %>
                  <%= f.submit class: "btn-favori" %>
                <% end %>
          </div>
        </div>
        </div>
      <% end %>
      <% videos = last_dashboard.videos %>
      <% videos.each do |video|%>
        <h2>Video</h2>
        <iframe width="300" height="300" src="<%=video.url%>" title="<%= video.title %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <% end %>
    </div>
    <!--/.First slide-->
     <!--Second slide-->
    <% last_dashboards = @dashboards.last(7) %>
    <% y = last_dashboards.clone %>
    <% y.pop %> <%# 7 derniers dashboards - le dernier %>
    <% y.each do |old_dashboard| %>
      <div class="carousel-item" data-interval="300000">
      <p class="text-center date"><%= old_dashboard.date %></p>
      <% old = old_dashboard.articles %>
        <% old.each do |article| %>
          <div class="col-md-3" style="float:left">
            <div class="card mb-2">
              <img class="card-img-top" src="<%= article.image %>" alt="Card image cap">
              <div class="card-body">
                <p class="text-center category"> #<%= article.category.upcase %></p>
                <h4 class="card-title"><%= article.title %></h4>
                <p class="card-text"><%= article.content %></p>
                <p>Source: <cite><%= article.source %></cite></p>
                <div class="card-btn">
                  <a class="btn-view" href="<%=article.url %>">Voir l'article</a>
                  <%= simple_form_for([@user, @favori], remote: true) do |f| %>
                    <%= f.hidden_field :medium_id, value: article.media.first.id %>
                    <%= f.submit "Ajouter aux favoris", class: "btn-favori" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% old_podcasts = old_dashboard.podcasts %>
        <% old_podcasts.each do |old_podcast| %>
          <div class="col-md-3" style="float:left">
            <div class="card-product mb-2">
              <img src="<%=  old_podcast.image %>" />
              <div class="card-product-infos">
                <h2><%= old_podcast.title %></h2>
                <audio controls>
                  <source src="<%= old_podcast.audio %>" type="audio/mp3">
                  <p>Votre navigateur ne prend pas en charge l'audio HTML5. Voici un <a href="#" >lien vers le fichier audio</a> à la place.</p>
                </audio>
              </div>
            </div>
          <% end %>
        </div>
        <% videos = old_dashboard.videos %>
        <% videos.each do |video|%>
            <h2>Video</h2>
          <iframe width="300" height="300" src="<%=video.url%>" title="<%= video.title %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <% end %>
      <% end %>
    <!--/.Second slide-->
  </div>
  <!--/.Slides-->
</div>
<!--/.Carousel Wrapper-->
