<div class="btn-to-top">
  <a href="#"><i class="fas fa-arrow-up icone"></i></a>
</div>

<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
  <!--Controls-->
  <div class="controls-top">
    <a class="btn-floating btn-controls" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
    <p class="date">DATE</p>
    <a class="btn-floating btn-controls" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-right"></i></a>
  </div>
  <!--/.Controls-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <!--First slide-->
    <div class="carousel-item active" data-interval="30000">
      <% last_dashboard = @dashboards.last%>
      <% last_article = last_dashboard.articles %>
      <p class="text-center date"><%= last_dashboard.date %></p>

      <% selected_media = @user.user_media_types.map {|umt| umt.media_types} %>

      <%# -------------ARTICLES DU JOUR---------------- %>
      <% if selected_media.include?("Articles") %>

      <h2 class="text-center category_title animate__animated animate__bounceIn">Articles (<%= last_article.count %>) </h2>
      <div class="articles-scroll">

      <% last_article.each do |article| %>
        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top" src="<%= article.image%>" alt="Card image cap">
            <div class="card-body">
              <p class="text-center category"> #<%= article.category.upcase %></p>
              <h4 class="card-title"><%= article.title %></h4>
              <p class="card-text"><%= truncate("#{article.content}", :length => 90, :omission => '...') %></p>
              <p>Source: <cite><%= article.source %></cite></p>
              <div class="card-btn">
                <a class="btn-view" href="<%= article.url %>">Voir l'article</a>
                <%= simple_form_for([@user, @favori], remote: true) do |f| %>
                  <%= f.hidden_field :medium_id, value: article.media.first.id %>
                  <%= f.submit "Ajouter aux favoris" , class: "btn-favori"%>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
      <% end %>

      <%# ----------PODCAST DU JOUR----------------- %>
      <% if selected_media.include?("Podcasts") %>
      <% podcasts = last_dashboard.podcasts %>
      <h2 class="text-center category_title animate__animated animate__bounceIn">Podcast (<%= podcasts.count %>) </h2>
      <% podcasts.each do |podcast|%>
      <div class="col-md-3" style="float:left">
        <div class="card-product mb-2">
          <img src="<%= podcast.image %>"/>
          <div class="card-product-infos">
            <h2><%= podcast.title %></h2>
            <audio controls>
              <source src="<%= podcast.audio %>" type="audio/mp3">
              <p>Votre navigateur ne prend pas en charge l'audio HTML5. Voici un <a href="#" >lien vers le fichier audio</a> à la place.</p>
            </audio>
            <%= simple_form_for([@user, @favori], remote: true) do |f| %>
              <%= f.hidden_field :medium_id, value: podcast.media.first.id %>
              <%= f.submit "Ajouter aux favoris", class: "btn-favori-podcast" %>
            <% end %>
          </div>
        </div>
        </div>
      <% end %>
      <% end %>
      <%# -----------VIDEO DU JOUR------------------ %>
      <% if selected_media.include?("Video") %>
      <% videos = last_dashboard.videos %>
        <h2 class="text-center category_title animate__animated animate__bounceIn">Video (<%= videos.count %>)</h2>
      <% videos.each do |video|%>
        <div class="video-container">
        <iframe width="300" height="300" class="video-iframe" src="<%=video.url%>" title="<%= video.title %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p> <%= video.title %> </p>
        <%= simple_form_for([@user, @favori], remote: true) do |f| %>
          <%= f.hidden_field :medium_id, value: video.media.first.id %>
          <%= f.submit "Ajouter aux favoris", class: "btn-favori-video" %>
        <% end %>
        </div>
      <% end %>
    </div>
    <% end %>


    <!--/.First slide-->
     <!--Second slide-->
    <% last_dashboards = @dashboards.last(7) %>
    <% y = last_dashboards.clone %>
    <% y.pop %> <%# 7 derniers dashboards - le dernier %>
    <% y.each do |old_dashboard| %>
      <div class="carousel-item" data-interval="300000">
      <p class="text-center date"><%= old_dashboard.date %></p>

      <%# ---------------ARTICLES ANCIEN DASHBOARDS---------------------- %>
      <%# if selected_media.include?("Articles") %>
      <% old = old_dashboard.articles %>
      <h2 class="text-center category_title animate__animated animate__bounceIn">Articles (<%= old.count %>) </h2>
      <div class="articles-scroll">
        <% old.each do |article| %>
          <div class="col-md-3" style="float:left">
            <div class="card mb-2">
              <img class="card-img-top" src="<%= article.image %>" alt="Card image cap">
              <div class="card-body">
                <p class="text-center category"> #<%= article.category.upcase %></p>
                <h4 class="card-title"><%= article.title %></h4>
                <p class="card-text"><%=truncate("#{article.content}", :length => 90, :omission => '...') %></p>
                <p>Source: <cite><%= article.source %></cite></p>
                <div class="card-btn">
                  <a class="btn-view" href="<%=article.url %>">Voir l'article</a>
                  <%= simple_form_for([@user, @favori], remote: true) do |f| %>
                    <%= f.hidden_field :medium_id, value: article.media.first.id %>
                    <%= f.submit "Ajouter aux favoris", class: "btn-favori" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%# end %>

      <%# ---------PODCAST ANCIEN DASHBOARD---------------- %>
        <%# if selected_media.include?("Podcasts") %>
        <% old_podcasts = old_dashboard.podcasts %>
         <h2 class="text-center category_title animate__animated animate__bounceIn">Podcast (<%= old_podcasts.count %>) </h2>
        <% old_podcasts.each do |old_podcast| %>
          <div class="col-md-3" style="float:left">
            <div class="card-product mb-2">
              <img src="<%=  old_podcast.image %>" />
              <div class="card-product-infos">
                <h2><%= old_podcast.title %></h2>
                <audio controls>
                  <source src="<%= old_podcast.audio %>" type="audio/mp3">
                  <p>Votre navigateur ne prend pas en charge l'audio HTML5. Voici un <a href="#" >lien vers le fichier audio</a> à la place.</p>
                </audio>
                <%= simple_form_for([@user, @favori], remote: true) do |f| %>
                  <%= f.hidden_field :medium_id, value: old_podcast.media.first.id %>
                  <%= f.submit "Ajouter aux favoris", class: "btn-favori-podcast" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <%#end %>

        <%# --------------VIDEO ANCIEN DASHBOAD---------------- %>
         <%# if selected_media.include?("Video") %>
        <% videos = old_dashboard.videos %>
        <% if videos.count > 0 %>
          <h2 class="text-center category_title animate__animated animate__bounceIn">Video (<%= videos.count %>) </h2>
          <% videos.each do |video|%>
            <div class="video-container">
              <iframe width="300" height="300" class="video-iframe" src="<%=video.url%>" title="<%= video.title %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <%= simple_form_for([@user, @favori], remote: true) do |f| %>
                <%= f.hidden_field :medium_id, value: video.media.first.id %>
                <%= f.submit "Ajouter aux favoris", class: "btn-favori-video" %>
              <% end %>
          </div>
        <% end %>
        <% end %>
      <% end %>
      <%# end %>
    <!--/.Second slide-->
  </div>
  <!--/.Slides-->
</div>
<!--/.Carousel Wrapper-->
