
  <div class="description_favoris">
    <h1 id="favoris_title">Mes favoris</h1>
    <div id="ligne_milieu_favoris"></div>
    <p><%= "Ici, nous gardons vos favoris pendant 7 jours. Découvrez ou (re)découvrez les articles, podcasts ou vidéos qui vous ont marqué." %></p>
  </div>

  <%#=------------- Début accordéon----------------------------------------------------   %>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h4 id="favoris_categorie">  <i class="fas fa-arrow-down"></i> Vos articles favoris </h4>
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <div class="scroll-favori">
          <% @favoris.each do |favori|%>
            <%#=------------- Si c'est un article----------------------------------------------------   %>
            <% @articles_favoris = favori.medium.mediable_type.include?("Article") %>
              <% if @articles_favoris %>
                <div class="col-md-3" style="float:left">
                  <div class="card mb-2">
                    <img class="card-img-top" src="<%= favori.medium.mediable.image%>" alt="Card image cap">
                    <div class="card-body">
                      <p class="text-center category"> #<%= favori.medium.mediable.category.upcase %></p>
                      <h4 class="card-title"><%= favori.medium.mediable.title %></h4>
                      <p class="card-text"><%= truncate("#{favori.medium.mediable.content}", :length => 90, :omission => '... (continued)') %></p>
                      <p> Source: <cite><%= favori.medium.mediable.source %></cite></p>
                      <div class="card-btn">
                        <div class="favori_page">
                          <a class="btn-decouvrir-favori" href="<%= favori.medium.mediable.url %>">Lire</a>
                           <%= link_to favori_path(favori), method: :delete, data: { confirm: 'Voulez vous supprimer cet article des favoris?' }, remote: true do %>
                               <i class="fas fa-trash-alt"></i>
                            <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h4 id="favoris_categorie"> <i class="fas fa-arrow-down"></i> Vos podcasts favoris</h4>
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
          <% @favoris.each do |favori|%>
            <% @podcast_favoris = favori.medium.mediable_type.include?("Podcast")  %>
            <% if @podcast_favoris %>
                <div class="card-product mb-2">
                  <img src="<%= favori.medium.mediable.image %>"/>
                  <div class="card-product-infos">
                    <h2><%= favori.medium.mediable.title %></h2>
                    <audio controls>
                      <source src="<%= favori.medium.mediable.audio %>" type="audio/mp3">
                      <p>Votre navigateur ne prend pas en charge l'audio HTML5. Voici un <a href="#" >lien vers le fichier audio</a> à la place.</p>
                    </audio>
                    <%= link_to favori_path(favori), method: :delete, data: { confirm: 'Voulez vous supprimer ce podcast des favoris?' }, remote: true do %>
                               <i class="fas fa-trash-alt"></i>
                            <% end %>
                  </div>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h4 id="favoris_categorie"> <i class="fas fa-arrow-down"></i> Vos vidéos favorites </h4>
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
      <% @favoris.each do |favori|%>
            <% @video_favoris = favori.medium.mediable_type.include?("Video")  %>
            <% if @video_favoris %>
                <div class="video-container">
                  <iframe width="300" height="300" class="video-iframe" src="<%=favori.medium.mediable.url%>" title="<%= favori.medium.mediable.title %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <p> <%= favori.medium.mediable.title %> </p>
                  <%= link_to favori_path(favori), method: :delete, data: { confirm: 'Voulez vous supprimer cette vidéo des favoris?' }, remote: true do %>
                               <i class="fas fa-trash-alt"></i>
                            <% end %>
                  </div>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
